body {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  margin: 0px;
  background-color: whitesmoke;
}

header {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: white;
  display: block;
  position: sticky;
  top: 0;
  z-index: 1;
}

footer {
  text-align: center;
  color: white;
  background-color: #464646;
  min-height: 50px;
}

.nav-menu {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.nav-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.nav-wrapper.wide {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-link {
  color: rgb(8, 0, 78);
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
  padding: 10px;
}

.nav-link:hover {
  color: #428cfb;
}

.nav-link.nl-current {
  color: #428cfb;
}

main {
  flex-grow: 1;
  min-height: 1000px;
  display: flex;
}

.headshot {
  height: 400px;
  width: 600px;
  margin: auto;
  margin-top: 0;
  overflow: hidden;
  z-index: -1;
}

img {
  width: 700px;
  height: auto;
  margin-left: -75px;
}

.image-disclaimer {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2em;
  z-index: 0;
}
